<footer class="sc-blue-bg text-white p-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="img-wsword-skill">
                    <img src="../../../assets/images/brand-logo.png" alt="WS WORD SKILLS">
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <small>We Accept Payment</small>
                    </div>

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="paypal-img">
                                    <img src="../../../assets/images/paypal.png" alt="PayPal">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="visa-img">
                                    <img src="../../../assets/images/visa.png" alt="Visa">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mastercard-img">
                                    <img src="../../../assets/images/mastercard.png" alt="MasterCard">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 text-right">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button class="btn sc-callback-btn">
                            CALL BACK
                        </button>
                    </div>
                </div>

                <div class="row mt-2 mr-1">
                    <div class="col-md-12">
                        <p><i class="fa fa-envelope"></i>info@website.com</p>
                    </div>
                </div>
            </div>
        </div>   

        <hr>

        <div class="row">
            <div class="col-md-6 text-left">
                <p class="text-white">Copyrights</p>
            </div>

            <div class="col-md-6 text-right">
                Terms &amp; Conditions
            </div>
        </div>
    </div>
</footer>
