<!-- customer reviews section  -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h4 class="text-danger">
                        {{CustomerReview}}
                    </h4>
                    <p>Check out what out customers think</p>
                </div>
            </div>
        </div>        
    </div>

    <!-- messages and form -->
    <div class="container-fluid mt-5">
        <div class="row text-center">
            <!-- messages section main -->
            <div class="col-md-7">
                <div class="h-100vh">
                    <div class="messages-section">
                        <!-- new row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- left section of messages -->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <!-- ratings section  -->
                                                    <div class="col-md-5">
                                                        <img src="../../../assets/images/ratings.png" alt="Ratings">
                                                    </div>
                                                    <!-- Username section  -->
                                                    <div class="col-md-7 text-right mt-2">
                                                        <h5>Brad Traversy</h5>
                                                    </div>
                                                </div>
                                                <!-- 2nd row text  -->
                                                <div class="row mt-1">
                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id, eos quo tenetur obcaecati atque architecto saepe, quam accusantium cupiditate ab autem a sequi blanditiis velit. Nulla debitis praesentium reiciendis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- image section  -->
                                    <div class="col-md-4">
                                        <div class="user-img">
                                            <img class="img-fluid" src="../../../assets/images/dark-img.png" alt="User Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="messages-section mt-5">
                        <!-- new row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- left section of messages -->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <!-- ratings section  -->
                                                    <div class="col-md-5">
                                                        <img src="../../../assets/images/ratings.png" alt="Ratings">
                                                    </div>
                                                    <!-- Username section  -->
                                                    <div class="col-md-7 text-right mt-2">
                                                        <h5>Brad Traversy</h5>
                                                    </div>
                                                </div>
                                                <!-- 2nd row text  -->
                                                <div class="row mt-1">
                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id, eos quo tenetur obcaecati atque architecto saepe, quam accusantium cupiditate ab autem a sequi blanditiis velit. Nulla debitis praesentium reiciendis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- image section  -->
                                    <div class="col-md-4">
                                        <div class="user-img">
                                            <img class="img-fluid" src="../../../assets/images/dark-img.png" alt="User Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="messages-section mt-5">
                        <!-- new row -->
                        <div class="row">
                            <div class="col-md-12">
                                <!-- left section of messages -->
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <!-- ratings section  -->
                                                    <div class="col-md-5">
                                                        <img src="../../../assets/images/ratings.png" alt="Ratings">
                                                    </div>
                                                    <!-- Username section  -->
                                                    <div class="col-md-7 text-right mt-2">
                                                        <h5>Brad Traversy</h5>
                                                    </div>
                                                </div>
                                                <!-- 2nd row text  -->
                                                <div class="row mt-1">
                                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt id, eos quo tenetur obcaecati atque architecto saepe, quam accusantium cupiditate ab autem a sequi blanditiis velit. Nulla debitis praesentium reiciendis.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <!-- image section  -->
                                    <div class="col-md-4">
                                        <div class="user-img">
                                            <img class="img-fluid" src="../../../assets/images/dark-img.png" alt="User Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- form section  -->
            <div class="col-md-5 ">
                <div class="h-80vh bluebg-userform">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-white mt-3">
                                Get a <span class="text-danger">{{quote}}</span>
                            </h3>
                        </div>
                    </div>

                    <div class="row mt-5" >
                        <div class="col-md-12 text-center ">
                            <select class="minimal">
                                <option>Type of Paper</option>
                                <option>Options</option>
                              </select> 
                        </div>
                    </div>
    
                    <div class="row mt-5" >
                        <div class="col-md-12 text-center ">
                            <select class="minimal">
                                <option>Level</option>
                                <option>Options</option>
                              </select> 
                        </div>
                    </div>
    
                    <div class="row mt-5" >
                        <div class="col-md-12 text-center ">
                            <select class="minimal">
                                <option>Deadline</option>
                                <option>Options</option>
                              </select> 
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-4 offset-md-4">                            
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text left-addonwidth"><i class="fa fa-minus"></i></span>
                                </div>
                                <input type="text" class="form-control" value="day 1">
                                <div class="input-group-append">
                                  <span class="input-group-text right-addonwidth"><i class="fa fa-plus"></i></span>
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="quote-btn-get">
                                <button class="btn get-quote-btn">GET A QUOTE</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>


<!-- free revision section -->
<section class="mt-5">
    <div class="myNewcontainer-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="free-rivision-sec">
                    <div class="row">
                        <div class="col-md-6 ">
                           <div class="content-hidden">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione veniam soluta ad? Autem magnam ad exercitationem ut rem qui, nulla, fugit incidunt veniam nobis atque corporis? Sint distinctio sit dolores!
                           </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="text-white text-pos">
                                <span class="text-danger ">FREE</span> REVISION <u>WITH</u>IN <span class="text-danger">7</span> <br> DAYS OF ORDER COMPLETION
                            </h2>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <button class="btn-ordernow">ORDER NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- why choose us section  -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>WHY CHOOSE US</h3>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-4 text-center">
                <div class="deadline-img ">
                    <img src="../../../assets/images/deadline-driven.png" alt="Deadline Driven">
                    <h4>DEADLINE DRIVEN</h4>
                    <p>We never miss your deadline</p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="affordable-img ">
                    <img src="../../../assets/images/afordable-rates.png" alt="Affordable Rates">
                </div>
                <h4>Affordable RATES</h4>
                <p>Get our services at affordable rates</p>
            </div>

            <div class="col-md-4 text-center">
                <div class="assistance-img">
                    <img src="../../../assets/images/assistance.png" alt="24/7 Assistance">
                </div>
                <h4>24/7 ASSISTANCE</h4>
                <p>Our support is available to assist you round the clock</p>
            </div>
        </div>
    </div>
</section>
